:root {
  --active-btn: bisque;
  --active-btn-hover: #ddd;
}

.levels {
  display: flex;
  gap: 1rem;
}
.levels .btn {
  border: 1px solid #ddd;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
}

.levels .btn:hover {
  background-color: var(--active-btn);
  cursor: pointer;
  box-shadow: 1px 1px 3px #000000dd;
}

.btn-active {
  background-color: var(--active-btn);
}
.btn-active:hover {
  background-color: var(--active-btn-hover);
}

.boxesStyle {
  width: 50%;
  height: 50%;
  display: grid;
  justify-content: center;
}

.boxStyle {
  border: 1px solid #ddd;
  cursor: pointer;
}

.boxStyle:active {
  opacity: 0.5 !important;
}

.btn {
  cursor: pointer;
  border: 1px solid #ddd;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
}

.btn:hover {
  background-color: bisque;
  cursor: pointer;
  box-shadow: 1px 1px 3px #000000dd;
}
