
  
  .app-container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .home {
    position: absolute;
    top: 35%;
    left: 5%;
    width: 80%;
    padding: 2rem;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .title {
    font-size: 2rem;
    color: var(--primary-color);
    margin-bottom: 1rem;
  }
  
  .description {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-bottom: 2rem;
  }
  
  .sign-in-btn {
    padding: 0.5rem 1rem;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
  }
  
  .sign-in-btn:hover {
    background-color: var(--secondary-color);
  }
  
  .game-container {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    width: 100%;
  }
  
  .rightMenuBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
  }